
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.ball {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.black {
  background-color: black;
  top: 0;
  left: 0;
}

.blue {
  background-color: #3498db;
  bottom: 0;
  right: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial Black;
  color: #f70505;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
